.cache/
.idea/
alignment_free_graph_genotyper.egg-info/
__pycache__
kage/__pycache__/
kage/cython_chain_genotyper.c
kage/cython_chain_genotyper.html
cython_testing.py
tests/1.critical_nodes
tests/1.nobg
tests/1.nobg.sequences
tests/1_linear_pathv2.interval
tests/__pycache__/
*.npy
*.npz
*.fa
*.fai
*.fa.fai
*.prof
*.fasta
*.vcf.gz
*.vcf
*.c
*.so
*.html
*.shm
build/
kage.egg-info/
dist/
*.egg-info

*#*
*~*