.cache/
.idea/
alignment_free_graph_genotyper.egg-info/
alignment_free_graph_genotyper/__pycache__/
alignment_free_graph_genotyper/cython_chain_genotyper.c
alignment_free_graph_genotyper/cython_chain_genotyper.html
cython_testing.py
tests/1.critical_nodes
tests/1.nobg
tests/1.nobg.sequences
tests/1_linear_pathv2.interval
tests/__pycache__/
*.npy
*.npz
*.fa
*.fa.fai
*.fasta
*.vcf.gz
*.vcf
*.c
*.so
*.html
